<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='planets.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='planets.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Planets and Stars</title>

    <!--<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />-->
    <!--<link rel="stylesheet" type="text/css" href="planets.css" />-->

    <!--<script type="text/javascript" src="planets.js"></script>-->
    <!--<title>Planets and Stars</title>-->
</head>

<body>

    <p><table id="results_table"></table></p>
    <div id = "left_side">test</div>
    <div id = "right_side">
        <div id = "features_to_display">
            <div class = "inner_features_to_display big">Features To Display</div>
            <div class = "inner_features_to_display small">Planet Name
                <button onclick="remove_parent(this)" type="button" class = "x_button">x</button>
            </div>
            <div class = "inner_features_to_display small">Planet Name
                <button onclick="remove_parent(this)" type="button" class = "x_button">x</button>
            </div>
            <div class = "inner_features_to_display small">Planet Name
                <button onclick="remove_parent(this)" type="button" class = "x_button">x</button>
            </div>


            <select id = "Add Feature">
              <option>Add Feature</option>
              <option>Saab</option>
              <option>Fiat</option>
              <option>Audi</option>
            </select>



        </div>
    </div>
    <div id = "bottom">
        <button type="button" id = "get_results">Display Planets</button>
    </div>



  </body>
</html>
